<html lang="en">

</html>

</html>

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

        <h1> welcome to Contact Page</h1>
        <h1>+7279983939</h1>


        <%- include('partials/footer.ejs') %>

</body>

</html>